<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
  <ul class="list-group">
    <li class="list-group-item list-group-item-dark " routerLink="cars">Renkler</li>
  </ul>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="colorSearch" placeholder="Renk giriniz">
</div>
<select class="form-select" *ngIf="dataLoaded==true" [(ngModel)]="currentColor" 
        routerLink="cars/color/{{currentColor}}" aria-label="Default select example">
  <option  [ngValue]="null" selected>Renk seçiniz</option>
  <option *ngFor="let color of colors|filterColorSearch:filterText" [value]="color.colorId">{{color.colorName}}</option>
</select>
