<div class="content" *ngIf="dataLoaded === true">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Kullanici Bilgilerini Guncelle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="updateForm">
          <div class="mb-3">
            <label for="companyName">Isminizi giriniz</label>
            <div class="form-group">
              <input
                type="text"
                id="companyName"
                formControlName="firstName"
                class="form-control"
                placeholder="{{ userToUpdate.firstName }}"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="companyMail">Soyadinizi giriniz</label>
            <div class="form-group">
              <input
                type="text"
                id="companyMail"
                formControlName="lastName"
                class="form-control"
                placeholder="{{ userToUpdate.lastName }}"
                value="{{ userToUpdate.lastName }}"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="companyMail">Profil mailini giriniz</label>
            <div class="form-group">
              <input
                type="text"
                id="companyMail"
                formControlName="email"
                class="form-control"
                placeholder="{{ userToUpdate.email }}"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="col-sm-2 col-form-label"
              >Sifrenizi giriniz</label>
            <div class="form-group">
              <input type="password" class="form-control" id="inputPassword" formControlName="password"/>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="update()">
          Guncelle
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="spinner-border text-primary"
  *ngIf="dataLoaded !== true"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
