<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
  <ul class="list-group">
    <li class="list-group-item list-group-item-dark " routerLink="cars">Markalar</li>
  </ul>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="colorSearch" placeholder="Marka adı giriniz">
</div>
<select class="form-select" *ngIf="dataLoaded==true" [(ngModel)]="currentBrand" 
        routerLink="cars/brand/{{currentBrand}}"  aria-label="Default select example">
  <option [ngValue]="null" selected>Marka seçiniz</option>
  <option *ngFor="let brand of brands|filterBrandSearch:filterText" [value]="brand.brandId">{{brand.brandName}}</option>
</select>