<div class="content" >
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Sirket Bilgilerini Guncelle</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="passwordUpdateGroup">
            <div class="mb-3">
              <label for="companyName">Mevcut Sifrenizi Giriniz</label>
              <div class="form-group">
                <input
                  type="password"
                  id="password"
                  formControlName="passwordToChange"
                  class="form-control"
                  placeholder="Sifrenizi giriniz."
                />
              </div>
            </div>
            
            <div class="mb-3">
              <label for="companyMail">Yeni Sifrenizi Giriniz</label>
              <div class="form-group">
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  class="form-control"
                  placeholder="Yeni sifreyi giriniz"
                />
              </div>
            </div>
            
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-fill btn-warning" (click)="update()">
            Guncelle
          </button>
        </div>
      </div>
    </div>
  </div>
  

  