
<div class="container" *ngFor="let carDetail of carDetails">
    <div  class="card-body"   >
    <h4 class="cart-title">{{ carDetail.brandName + " " + carDetail.modelYear }}</h4>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i><b>Model Yılı | </b></i>{{ carDetail.modelYear }}</li>
    <li class="list-group-item"><i><b>Marka | </b></i>{{ carDetail.brandName }}</li>
    <li class="list-group-item"><i><b>Renk | </b></i>{{ carDetail.colorName }}</li>
  </ul>

  <div class="card-body">
    <div class="row">

      <button
        type="button"
        class="btn btn-success"
      >
        Teklif Al!!
      </button>

    </div>
  </div>
</div>
