<div class="row mt-4" style="margin-left: 35%"></div>
<div>
  <button type="button" class="btn btn-primary" (click)="turnBackPage()">
    Geri Dön
  </button>
</div>
<div *ngIf="itemLoaded === true">
  <div
    class="card mt-2 mr-2"
    style="width: 18rem; margin-right: 10px"
    *ngFor="let carDetail of carDetailList"
  >
    <img
      *ngIf="carDetail.imagePath"
      [src]="baseUrl + carDetail.imagePath"
      class="card-img-top"
      style="object-fit: cover"
      width="100"
      height="50%"
    />

    <img
      *ngIf="!carDetail.imagePath"
      [src]="baseUrl + 'defaultCar.jpg'"
      class="card-img-top"
      style="object-fit: cover"
      width="100"
      height="50%"
    />

    <div class="card-body">
      <h4 class="cart-title">
        {{ carDetail.description + " " + carDetail.modelYear }}
      </h4>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <i><b>Gunluk Ucreti | </b></i>{{ carDetail.dailyPrice }}
      </li>
      <li class="list-group-item">
        <i><b>Renk | </b></i>{{ carDetail.colorName }}
      </li>
      <li class="list-group-item">
        <i><b>Marka | </b></i>{{ carDetail.brandName }}
      </li>
      <li class="list-group-item">
        <i><b>Fiyat | </b></i>{{ carDetail.dailyPrice | currency : "₺" }}
      </li>
      <li class="list-group-item">
        <i><b>Kdv'Li Fiyat | </b></i
        >{{ carDetail.dailyPrice | vatAdded : 18 | currency : "₺" }}
      </li>
    </ul>

    <div class="card-body">
      <div class="row">
        <div>
          <button type="button" class="btn btn-success" (click)="updatePath()">
            Araci Guncelle !!
          </button>
        </div>
        <br />
        <div>
          <button
            type="button"
            class="btn btn-success"
            (click)="rentPath(carDetail)"
          >
            Araci Kirala !!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
