<form [formGroup]="cardAddForm">
  <div class="mb-3">
    <label for="cardNumber" class="form-label">Kart numarası</label>
    <input
      type="text"
      class="form-control"
      id="cardNumber"
      maxlength="16"
      formControlName="cardNumber"
      name="cardNumber"
    />
  </div>
  <div class="mb-3">
    <label for="userName" class="form-label">Kart sahibi Adi</label>
    <input
      type="text"
      class="form-control"
      id="userName"
      formControlName="userName"
      name="userName"
    />
  </div>
  <div class="mb-3">
    <label for="cvc" class="form-label">CVC</label>
    <input
      type="text"
      class="form-control"
      id="cvc"
      maxlength="3"
      name="cardCvc"
      formControlName="cvc"
    />
  </div>

  <button type="submit" (click)="add()" class="btn btn-primary">Öde</button>
</form>
<div class="row mt-4" style="margin-left: 1%">
  <div
    *ngFor="let pay of cardList"
    class="card mt-2 mr-2"
    style="width: 18rem; margin-right: 10px"
  >
    <div class="card-body">
      <h4 class="cart-title">
        {{ pay.userName }}
      </h4>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <i><b>Kart Numarasi | </b></i>{{ pay.cardNumber }}
      </li>
      <li class="list-group-item">
        <i><b>Cvc | </b></i>{{ pay.cvc }}
      </li>
      <li class="list-group-item">
        <i><b>Tarih | </b></i>{{ pay.exDate }}
      </li>
      <li class="list-group-item">
        <i
          ><b
            ><button
              type="submit"
              (click)="deleteById(pay.id)"
              class="btn btn-danger"
            >
              Sil
            </button></b
          ></i
        >
      </li>
    </ul>
  </div>
</div>
