<form [formGroup]="cardAddForm">
  <div class="mb-3">
    <label for="userId" class="form-label">Kullanici</label>
    <input type="text" class="form-control" id="userId"  maxlength="16"
           formControlName="userId" name="userId" placeholder="{{userId}}" readonly>
  </div>
  <div class="mb-3">
    <label for="cardNumber" class="form-label">Kart numarası</label>
    <input type="text" class="form-control" id="cardNumber"  maxlength="16"
           formControlName="cardNumber" name="cardNumber" >
  </div>
  <div class="mb-3">
    <label for="userName" class="form-label">Kart sahibi</label>
    <input type="text" class="form-control" id="userName" formControlName="userName"
            name="userName" >
  </div>
  <div class="mb-3">
    <label for="date" class="form-label">Tarih (Ay/Yıl)</label>
    <input type="date" class="form-control" id="date" name="date"  
           maxlength="4" formControlName="exDate" >
  </div>
  <div class="mb-3">
    <label for="cvc" class="form-label">CVC</label>
    <input type="number"  class="form-control" id="cvc" maxlength="3" 
           name="cardCvc" formControlName="Cvc"
           >
  </div>

  <button type="submit" (click)="add()" class="btn btn-primary">Öde</button>
</form>