<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Ürün ekle</h5></div>
            <div class="card-body">
                <form [formGroup] = "colorAddForm" >
                    
                   <div class="mb-3">
                    <label for="colorName">Renk</label>
                    <div class="form-group">
                        <input type="text"
                        id="colorName"
                        formControlName="colorName" class="form-control" 
                        placeholder="Renk Ekle"/>
                    </div>
                   </div>
                    
                </form>
            </div>
            <div class="card-footer" >
                <button class="btn btn-fill btn-primary" (click)="add()" >Ekle</button>
            </div>
            
        </div>
        
    </div>
    
  </div>
  <button class="btn btn-primary" *ngIf="dataLoaded===true" (click)="refreshItems()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
  <div class="spinner-border text-primary" *ngIf="dataLoaded!==true" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th>Id</th>
        <th>Renk Adi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let color of colorList">
        <td>{{ color.colorId }}</td>
        <td style="padding-left: 1cm">{{color.colorName}}</td>
        
          
      </tr>
    </tbody>
  </table>
  
  