<div class="row mt-4" style="margin-left: 1%">
  <div
    *ngFor="let car of cars"
    class="card mt-2 mr-2"
    style="width: 18rem; margin-right: 10px"
  >
    

    <div class="card-body"   >
      <h4 class="cart-title">{{ car.brandName + " " + car.modelYear }}</h4>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i><b>Model Yılı | </b></i>{{ car.modelYear }}</li>
      <li class="list-group-item"><i><b>Marka | </b></i>{{ car.brandName }}</li>
      <li class="list-group-item"><i><b>Renk | </b></i>{{ car.colorName }}</li>
    </ul>

    <div class="card-body">
      <div class="row">

        <button
          type="button"
          class="btn btn-success"
          (click)="setCurrentCarDetail(car)"
          routerLink="/cars/car-detail/{{setCurrentCarDetail(car)}}"
        >
          Teklif Al!!
        </button>

      </div>
    </div>
  </div>
</div>